.content {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: $secondary-color;

  > * {
    padding-left: 30px;
  }

  p {
    width: 55%;
    min-width: 550px;
    text-size-adjust: 1rem;
    line-height: 2rem;
  }

  img, video {
    height: 350px;
    width: 550px;
    margin-bottom: 30px;
  }
}
